---
import ContactItem from "@components/ContactItem.astro";
import Mail from "@components/icons/Mail.astro";
import MapaPin from "@components/icons/MapaPin.astro";
import Phone from "@components/icons/Phone.astro";
import Modal from "@components/Modal.astro";
import SectionLayout from "@layouts/SectionLayout.astro";

const servicios = [
  { icon: Phone, title: "Electricidad" },
  { icon: Mail, title: "Correo" },
  { icon: MapaPin, title: "Ubicación" },
  { icon: Phone, title: "Electricidad" },
];


---

<SectionLayout id="services" class="bg-primary text-white">
  <h2
    class="text-3xl md:text-4xl font-bold text-center mb-16 relative inline-block"
  >
    <span class="pb-2 border-b-4 border-secondary">Nuestros Servicios</span>
  </h2>

  <div
    class="grid grid-cols-1 w-full sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    {
      servicios.map(({ icon: Icon, title }, index) => (
        <div class="flex items-center text-start space-x-4 p-6 bg-[#1D2D50] rounded-lg">
          <div class="bg-blue-600 p-3 rounded-lg">
            <Icon class="w-6 h-6 text-white transition-transform duration-300 ease-out hover:scale-110" />
          </div>
          <div>
            <h3>{title}</h3>
            <a id="btn" class="text-white font-bold rounded mt-2"
             data-index={index+1}
            >
              Ver más detalles
            </a>
          </div>
        </div>
      ))
    }
  </div>

  <!-- 
   dialog
  -->
  <dialog
    id="alert-dialog"
    class="modal bg-[#1D2D50] rounded-lg shadow-lg
  md:w-200 w-full
  overflow-hidden"
  >
    <div class="my-4 mx-4">
      <!-- Título -->

      <form method="dialog" class="text-end">
        <button
          class="bg-blue-500 hover:bg-blue-600
             text-sm
            text-white font-bold py-2 px-6 rounded-lg
            transition-all duration-300 transform hover:scale-105
            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
        >
          X
        </button>
      </form>

      <div class="flex justify-center">
        <img id="imgContent" src="/logo.svg" alt="Logo" 
         width="250" height="250"
        class=" object-contain" />
      </div>

      <!-- Descripción -->
      <h3 
       id="titleContent"
      class="text-white font-bold text-2xl mb-2
       text-start">
        ¡Vuelve a la sombra!
      </h3>
      <p id="Pcontent" class="text-gray-300 mb-2 text-justify">
        Desde hace más de tres décadas venimos desarrollando con excelencia
        proyectos energéticos de creciente magnitud, tanto en el país como en
        Chile, con el compromiso de alcanzar los estándares de calidad y
        eficiencia que satisfagan y superen los requerimientos de nuestros
        clientes. La ejecución de centrales hidroeléctricas de reserva y de
        paso, entre otros proyectos emplazados por lo general en una geografía
        retadora, esto han enriquecido nuestro expertise y alientan nuestro
        profesionalismo y sentido de lo trascendente.
      </p>

      <!-- Imagen -->

      <!-- Botón de cierre -->
    </div>
  </dialog>
  <!-- 
   dialog
  -->

  <script>

const ModalConten = [
  {
    id: 1,
    title: "Electricidad",
    img: "/logo.svg",
    description: "Desde hace más de tres décadas venimos desarrollando con excelencia proyectos energéticos de creciente magnitud, tanto en el país como en Chile, con el compromiso de alcanzar los estándares de calidad y eficiencia que satisfagan y superen los requerimientos de nuestros clientes. La ejecución de centrales hidroeléctricas de reserva y de paso, entre otros proyectos emplazados por lo general en una geografía retadora, esto han enriquecido nuestro expertise y alientan nuestro profesionalismo y sentido de lo trascendente.",
  },
  {
    id: 2,
    title: "Civil",
    img: "/logo.svg",
    description: "Desde hace más de tres décadas venim",
  },
  {
    id: 3,
    title: "Mecánica",
    img: "/logo.svg",
    description: "Desde hace más de tres décadas venim",
  },
  {
    id: 4,
    title: "Instrumentación",
    img: "/logo.svg",
    description: "Desde hace más de tres décadas venimos desarrollando con excelencia proyectos energéticos de creciente magnitud, tanto en el país como en Chile, con el compromiso de alcanzar los estándares de calidad y eficiencia que satisfagan y superen los requerimientos de nuestros clientes. La ejecución de centrales hidroeléctricas de reserva y de paso, entre otros proyectos emplazados por lo general en una geografía retadora, esto han enriquecido nuestro expertise y alientan nuestro profesionalismo y sentido de lo trascendente.",
  },
];
   
    const imgContent = document.getElementById("imgContent");
    const titleContent = document.getElementById("titleContent");
    const Pcontent = document.getElementById("Pcontent");
    function handleClick(event: MouseEvent) {

      const dialog = document.getElementById("alert-dialog") as HTMLDialogElement;
      const index = (event.target as HTMLElement).getAttribute("data-index");
    
      const db= ModalConten.find((item) => item.id === Number(index));
      

      (imgContent as HTMLImageElement).src = db!.img ;
      if (titleContent) {
        titleContent.textContent = db?.title || '';
      }
      if (Pcontent) {
        Pcontent.textContent = db?.description || '';
      }

      dialog.showModal();
    }
    
    
    

    document.querySelectorAll("#btn").forEach((button) => {
      button.addEventListener("click", (event) => handleClick(event as MouseEvent));
      
    });
  </script>
</SectionLayout>

<style>
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #alert-dialog {
    opacity: 0;
    transition:
      display 1s allow-discrete,
      overlay 1s allow-discrete,
      translate 1s,
      opacity 1s;
    translate: 0 50%;
    will-change: translate, opacity;
  }

  #alert-dialog[open] {
    opacity: 1;
    translate: 0;
    @starting-style {
      opacity: 0;
      translate: 0 50%;
    }
  }

  #alert-dialog::backdrop {
    background: linear-gradient(#000d, #000a);
    opacity: 1;
    transition:
      display 1s allow-discrete,
      opacity 1s;

    @starting-style {
      opacity: 0;
    }
  }

  #alert-dialog:not([open])::backdrop {
    opacity: 0;
  }
</style>
